body {
  margin: 30px;
  position: relative;
  font-family: sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;

}
.text-container {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.wrapper {
  position: relative;
  width: 410px;
  height: 400px;
  overflow: hidden;
  margin-right: 40px;
}
.wrapper-2 {
  position: relative;
  display: flex;
  width: inherit;
  justify-content: center;
  margin-bottom: 100px;
}
.wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart-container {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.chart-wrapper{
  position:absolute;
  width: 380px;
  height: 380px;
}
#distanceGraph {
  position: relative;
  left: 23px;
  font-family: sans-serif;
  font-size: 12px;
}
#heightGraph {
  position: relative;
  left: 23px;
  font-family: sans-serif;
  font-size: 12px;
}
#draw:hover{
  cursor:crosshair;
}
#draw2:hover{
  cursor:crosshair;
}
#animation {
  border: 1px solid black;
  background-image:url("https://a4.espncdn.com/combiner/i?img=%2Fphoto%2F2019%2F0513%2Fr542285_2_1296x729_16%2D9.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 905px;
  left: 20px;
  position: relative;
}
#line, #line2 {
  left: 74px;
  top: 10px;
}
#grid {
  position: absolute;   
  font-family: sans-serif;
  font-size: 12px;
}
#grid svg {
  overflow: visible;
}
.axis-grid line {
  stroke: #def;
}
.controls-container {
  display: flex;
  flex-direction: row;
}
#player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  padding: 0 20px 0 20px;
  background: #999;
  border-top: 1px solid #999;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
  margin-left: 30px;
  width: 100%;
  width: 400px;
}
.play-button {
  width: 70px;
  height: 30px;
}
.slider-color {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  opacity: 1;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  margin-left: 20px;
}
.slider-color::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
.y.axis-grid .domain {
  display: none;
}
.radio-buttons-wrapper {
  clear: both;
  display: flex;
  margin-bottom: 30px;
}
.radio-button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.radio-button + label {
  float: left;
  padding: 0.7em 1em;
  cursor: pointer;
  border: 1px solid #999;
  margin-right: -1px;
  color: #999;
  background-color: #fff;
}
.radio-button + label:first-of-type {
  border-radius: 0.3em 0 0 0.3em;
}
.radio-button + label:last-of-type {
  border-radius: 0 0.3em 0.3em 0;
}
.radio-button:checked + label {
  background-color: #999;
  color: #fff;
}